body {
    background-color: #ececec;
}

p {
    color: #788692;
    padding: 10px;
}

h2 {
    color: #63a8a4;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: center;
}


.navigation .navbar-brand {
    background-color: #63a8a4;
    color: white;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.navigation {
    background-color: white;
    padding: none;
}

.title {
    color: #63a8a4;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 40px;
}

.container {
    margin-top: 40px;
}

.box {
    background: white;
    /* margin-top: 40px; */
    padding: 20px;
}

.box1 {
    background: white;
        /* margin-top: 40px; */
    padding: 20px;
    height: 360px;
}

.index_image {
    float: left;
    width: 30%;
    height: 50%;
}

.thumbnail {
    width: 50%;
    height: 40%;
}

.chart_visual {
    width: 100%;
    height: 120%;
}

.comp_image {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

.dataframe {
    width: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

tr {
    line-height: 12px;
}

@media (max-width: 700px) {
    .navbar{
        background: #63a8a4;
    }

}

