.title {
    color: #63a8a4;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 40px;
}


.navbar-brand {
    background-color: #63a8a4;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}